body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.myFooterText {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: bold;
}

.column {
    float: left;
    width: 32.9%;
    padding: 25px;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    border-color: dimgrey;
}

.columnInstrument {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}